
<article>

<form class="form signup-form">
      
      <div class="form-group">
        <label for="username-signup">title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="password-signup">description:</label>
        <textarea class="form-input" type="description" id="description"></textarea>
      </div>
      <div class="form-bottom">
        <button class="btn btn-primary" type="submit">save</button>
      </div>
    </form>



</article>


