{{log userData.dataValues}}
{{#each tasks as |task|}}
{{/each}}
<article>

  <form id="form" class="form addTask-form">
      <label for="title-addTask" class="formTag">Title:</label>
      <div class="form-group">
        
        <input class="form-input" type="text" id="title" />
      </div>
      <label for="description-addTask" class="formTag" >Description:</label>
      <div class="form-group">
        
        <textarea class="form-input" type="description" id="description"></textarea>
      </div>
      <div class="form-bottom">
        <button onclick="createTasksHandler()" class="btn btn-primary" id="save-task" type="submit">save</button>
      </div>
  </form>
  <script src="/js/createTask.js"></script>


</article>


