
{{log userData.dataValues}}
{{#each tasks as |task|}}
{{/each}}
<div class ="row">
    <div class="col-auto profile">
        <h2>Welcome {{userData.dataValues.username}}! </h2>
    </div>
</div>

{{!-- {{formatDate tasks.date_created}} --}}