
{{log userData.dataValues}}
{{#each tasks as |task|}}
{{/each}}
<div class ="row">
    <div class="col-auto profile">
        <h2>Hi {{userData.dataValues.username}}!</h2>
        <h4>Welcome to Life Manager</h4>
        <h5>Where Dream becomes reality and your hard work can be tracked!</h5>
    </div>
</div>

{{!-- {{formatDate tasks.date_created}} --}}