
{{!-- add on the bottom --}}
<dialog>
  <h2>Welcome to Life Manager...</h2>
  <p>Where Dream becomes reality

              AND  

 your hard work can be tracked!</p>
  <form method="dialog">
    <button>OK</button>
  </form>
</dialog>