
<main id="mytasks">
{{#each tasks}}
<article class="mytask-container">
    <a href="/tasks/edit/{{id}}">
        <h3 class="saved-task">{{title}}</h3>
    </a>
    <div class="saved-task des">{{description}}</div>
    <button>Edit</button>
    <button>delete</button>
</article>
{{/each}}
</main>
