.return {
    color: #795f11;
}

:root {
    --text: #282828;
    --light-dark: #eff5ff;
    --dark: #2B4DFF;
    --hover: #2ba3ff42;
}
.container{
    display: flex;
}
.icon {
    float: right;
    border: 0;
    width: 30px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}


.add-icon {
    border: 0;
    width: 60px;
    height: 65px;
    background: transparent;
    cursor: pointer;

}

.aside-button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background: var(--sectionBack);
    cursor: pointer;
}

.aside-bar {
    width: 320px;
    height: 700px ;
    background-color: var(--light-dark);
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
}
.dashboard{
    flex: 80%;
    background-color: var(--light-dark);
    border-radius: 15px;
 }

 .row{
    margin: 50px;
 }

.hover {
    display: flex;
    align-items: center;
    width: 300px;
}

.hover:hover {
    width: 300px;
    background-color: var(--hover);
    border-radius: 10px;
}

/* style of header */
.main-header {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
}

#add-task{
    margin-top: 50px;
    /* margin-left: 230px; */
}

@media screen and (max-width: 768px) {

    .logo{
        width: 60%;
    }
    
    .hover {
        width: 30%;
    }
}