
:root {
    --text: #282828;
    --light-dark: #eff5ff;
    --dark: #2B4DFF;
    --hover: #2ba3ff42;
}
.container{
    display: flex;
}
.icon {
    float: right;
    border: 0;
    width: 30px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}
.profile-container{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.photo{
    width: 60px;
}

.add-icon {
    border: 0;
    width: 60px;
    height: 65px;
    background: transparent;
    cursor: pointer;

}

.aside-button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 15px;
    background: var(--sectionBack);
    cursor: pointer;
}

.aside-bar {
    width: 320px;
    height: 700px ;
    background-color: var(--light-dark);
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
}
.dashboard{
    flex: 80%;
    background-color: var(--light-dark);
    border-radius: 15px;
 }

 .row{
    margin: 50px;
 }

.hover {
    display: flex;
    align-items: center;
    width: 300px;
}

.hover:hover {
    width: 300px;
    background-color: var(--hover);
    border-radius: 10px;
}

/* style of header */
.main-header{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-task{
    margin-top: 50px;
    /* margin-left: 230px; */
}
.mytask-container{
    background-color: rgb(247, 253, 253);
    border-radius: 15px;
}
.mytask-container:hover{
    background-color: var(--hover);
}
.saved-task{
    margin: 20px;
}

#mytasks{
    margin: 50px;
}
.addTask-form{
    margin: 50px;
}
#title{
    width: 500px;
    height: 40px;
    background-color: rgb(247, 253, 253);
    border-color: rgb(210, 210, 210);
    border-radius: 5px;
    margin-bottom: 20px;
    
}
#description{
    width: 500px;
    height: 300px;
    background-color: rgb(247, 253, 253);
    border-color: rgb(210, 210, 210);
    border-radius: 5px;
    margin-bottom: 20px;
    
}
#save-task{
    width: 80px;
    height: 35px;
    background-color: var(--dark);
    border-radius: 10px;
    border: 0px;
    color: #eff5ff;
    
}

#logout{
    width: 80px;
    height: 35px;
    background-color: var(--dark);
    border-radius: 40px;
    border: 0px;
    color: #eff5ff;
}
.profile{
    display: block;
}

@media screen and (max-width: 768px) {

    .logo{
        width: 70%;
    }
    
    .hover {
        width: 100%;
    }
    .hover:hover {
        width: 100%;
    }
    #title{
        width: 100%;
    }
    #description{
        width: 100%;
    }
}

